/* Add screen styles below */

body {
    background: #adc178;
    margin-top: 100px;
    font-family: "DM Sans", sans-serif;
}

.card {
    background: #eff1ed;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    color: #373d20;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.card div {
    padding: 20px;
}

#company {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
  background-color: #373d20;
  color: #eff1ed;
  padding: 20px;
  margin: 0;
  border-bottom: #717744;
  border-radius: 16px 16px 0 0;
}

img {
    float: left;
    margin-right: 20px;
    border-radius: 2px;
    border: #766153;
}

h2 {
    margin: 0;
}

p {
    font-weight: 400;
    color: #766153;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    color: #766153;
}

li {
    margin-bottom: 8px;
}