/* Add screen styles below */

body {
    background: #37323E;
}

div {
    width: 500px;
    margin: 0 auto;
    background: #D9D9D9;
    color: #37323E;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #DEB841;
}