/* Add screen styles below */

body {
    background: #37323E;
}

.card {
    background: #D9D9D9;
    margin: 0 auto;
    width: 500px;
    color: #37323E;
}

#company {
    font-family: "DM Sans", sans-serif;
}

h1 {
  background-color: #DEB841;
}