/* Add screen styles below */

body {
    background: #37323E;
}

.card {
    background: #D9D9D9;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    color: #37323E;
    border-radius: 16px;
}

.card div {
    padding: 20px;
}

#company {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}

h1 {
  background-color: #DEB841;
  padding: 20px;
  margin: 0;
  border-radius: 16px 16px 0 0;
}

img {
    float: left;
}