/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
    background: #37323E;
}

div {
    width: 500;
    margin: 0 auto;
    background: #D9D9D9;
    color: #37323E;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #DEB841;
}